footer {
  background-color: black;
}
* {
  padding: 0%;
  margin: 0%;
}

.pf {
  color: white;
}

header {
  background-image: url(./img/Bitmap.svg);
  background-repeat: no-repeat;
  position: relative;
}
.mainS {
  border: 2px solid white;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  float: right;
}
header li a {
  text-decoration: none;
  color: white;
}
li {
  margin-right: 30px;
}
h1 {
  color: white;
}
